<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div class="bg-img">
<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="screenName"><b>Desired Screen Name</b></label>
      <input type="text" formControlName="screenName" placeholder="Enter Desired Screen Name" name="scrnname" id="scrnname" required>
      
      <label for="email"><b>Email</b></label>
      <input type="text" formControlName="email" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" formControlName="password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" formControlName="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
  
      <button type="submit" class="registerbtn">Register</button>
    </div>
  
    <div class="container login">
      <p>Already have an account? <a href="#">Login</a>.</p>
    </div>
  </form>
</div>
