<h2 class="text-center"> Your Saved Quotes!</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Quote Id</th>
            <th scope="col">Character First Name</th>
            <th scope="col">Character Last Name</th>
            <th scope="col">Quote</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let q of quotes">
                <td>{{q.quoteId}}</td>
                <td>{{q.authorFName}}</td>
                <td>{{q.authorLName}}</td>
                <td>{{q.quote}}</td>
              </tr>
        </tbody>
     </table>
          <!-- <button (click)="pullSavedQuotes()">Show Quotes!</button> -->

  

