<h2 class="text-center"> Your Saved Quotes!</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Quote Id</th>
            <th scope="col">Character First Name</th>
            <th scope="col">Character Last Name</th>
            <th scope="col">Quote</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let q of quotes">
                <td>{{q.quoteId}}</td>
                <td>{{q.authorFName}}</td>
                <td>{{q.authorLName}}</td>
                <td>{{q.quote}}</td>
              </tr>
        </tbody>
     </table>
<br>
<br>

<!-- <h2 class="text-center">Search for quotes to save!</h2>
<button type="button" class="MY-BTN col" id="submit-btn" (click)="toggleVis()"> </button>
<div *ngFor="let q of randomQ1" [hidden]="visibility" id="q-card" class="col">
  <h2>Random Quote ID: #{{q.quote_id}}</h2>
  <p>Quote: {{q.quote}}</p>
  <p>Author: {{q.author}}</p>
  <p>Series: {{q.series}}</p>
</div> -->
          

  

