<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div class="row">
  <div class="col‑xs‑12">
   <ul class="nav nav‑pills">
    <li><a routerLinkActive="active" [routerLink]="['/login']" >Login</a></li>
    <li><a *ngIf="authenticationService.isLoggedIn" [routerLink]="['/home']" >User Home</a></li>
    <li><a *ngIf="authenticationService.isLoggedIn" [routerLink]="['/profile']" >User Profile</a></li>
    <li><a routerLinkActive="active" [routerLink]="['/register']" >Register New User</a></li>
    <li><a *ngIf="authenticationService.isLoggedIn" [routerLink]="['/logout']" >Logout</a></li>
   </ul>
 </div>
</div>
<div class = "header">
  <h1>Test your Breaking Bad Trivia</h1>
  <form class="form-inline logincontainer">
    <div class="form-group mx-sm-4 mb-2">
      <label for="username" class="sr-only">Username</label>
      <input type="text" class="form-control" placeholder="Enter Username" id="username" required>
    </div>
    <div class="form-group mx-sm-4 mb-2">
      <label for="inputPassword2" class="sr-only">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter Password" required>
    </div>
    <button type="submit" class="btn btn-dark">Login</button>
    <a routerLink="/register" class="btn btn-link">Register</a>
  </form>
</div>
<div class="bg-img container">
    
</div>







