body, html {
    height: 100%;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("/assets/cast.jpg");
  
    /* Control the height of the image */
    min-height: 500px;
  
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* input fields */
    #username, #password {
    width: 100%;
    padding: 5px 5px 5px 2px;
    margin: 0px;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
