#bbheader{
  text-align: center
}

#loginfields{
  text-align: center
}

.bg-img {
  /* The image used */
  background-image: url("/assets/cast.jpg");

  /* Control the height of the image */
  min-height: 500px;

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* input fields */
  #email, #password {
  width: 100%;
  padding: 5px 5px 5px 2px;
  margin: 0px;
  border: none;
  background: #f1f1f1;
}
