<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div class="row">
  <div class="col‑xs‑12">
   <ul class="nav nav‑pills">
    <li *ngIf="loginservice.isUserLoggedIn()" [routerLink]="['/login']" >Login</li>
    <li *ngIf="loginservice.isUserLoggedIn()" [routerLink]="['/home']" >User Home</li>
    <li *ngIf="loginservice.isUserLoggedIn()" [routerLink]="['/profile']" >User Profile</li>
    <li *ngIf="loginservice.isUserLoggedIn()" [routerLink]="['/register']" >Register New User</li>
    <li *ngIf="loginservice.isUserLoggedIn()" [routerLink]="['/logout']" >Logout</li>
   </ul>
 </div>
</div>
<div class="bg-img container">
  <form class="logincontainer">
    <h1>Login</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="email"required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="password" required>

    <button (click)=checkLogin() class="btn">Login</button>
    <a routerLink="/register" class="btn btn-link">Register</a>
  </form>
</div>







